.about-container {
    margin: 20px;
    padding: 20px;
    background-color: #f2f2f2;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  }
  
  .about-heading {
    text-align: center;
  }
  
  .about-heading h1 {
    font-size: 24px;
    color: #000000;
  }
  
  .about-details p {
    font-size: 18px;
    color: #555;
  }
  
  .college-name {
    font-weight: bold; 
    color: #0bad16; 
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.2); 
  }
  #changing-college {
    background: linear-gradient(45deg, #ff0000, #ff6600); 
    -webkit-background-clip: text;
    background-clip: text;
    color: transparent;
  }
  